/* ------------ Base structure ---------------------------------*/

html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    background-color: #FAFAFA;
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-top: 4px solid #f6bf74;
    border-radius: 3px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
}
/*------------ navbar ---------------------------------*/

.navbar {
    vertical-align: middle;
    padding:10px 10px;
    background-color: white !important;
}
.navbar .navbar-collapse {
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
}
.navbar .brand img {
    max-width: 200px;
    width: auto;
    height: auto;
}
.navbar  {
    border-bottom: 5px solid #c69e2d;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar-brand {
    vertical-align: middle;
    padding: 0px;
    margin: auto;
}
.navbar-brand > img {
    vertical-align: middle;
    margin: auto;
    height: 100%;
    padding: 5px;
    width: auto;
}
.navbar-nav a{
  color: #333;
  font-size: 20px;
}
.nav a:hover {
  color: #c69e2d;
  background-color: #fff !important;
}

.navbar-nav a:active {
  color: #c69e2d;
  background-color: #fff !important;
}
.navbar-nav a:focus{
  color: #c69e2d;
  background-color: #fff !important;

}
.fa.fa-navicon {
  color:#000;
}
button.navtoggle {
    color: #c69e2d;
    margin: auto;
    border: 3px #c69e2d;
    outline:0;
}
button.navtoggle span{
    border: 3px #c69e2d;

}
/*footer css*/
@media (max-width: 992px) {
  .flex-footer {
    display: block;
  }
}

.footer {
  padding: 30px 0;
  background: #000;
}

.footer h2 {
  color: white;
  font-size: 14px;
  padding-bottom: 8px;
}
.jumbotron-fluid {
  background-image: url("../img/header-home.jpg");
  position: center bottom;
  background-size: cover;
  height: 600px;
  width: 100%;
}

.about {
  text-align: center;
  margin-bottom: 30px;
}

.about h1 {
  font-size: 28px;
  color: black;
}

.about h2 {
  font-size: 20px;
  color: #c69e2d;
}

.about p {
  font-size: 20px;
  color: #acacac;
}

.about .about-text {
  padding-left: 150px;
  padding-right: 150px;
}

.about span {
  display: block;
  height: 60px;
  width: 60px;
  line-height: 55px;
  -moz-border-radius: 30px;
  /* or 50% */
  border-radius: 30px;
  /* or 50% */
  border: 3px solid #acacac;
  color: #acacac;
  font-size: 35px;
  display: inline-block;
  margin-left: 40px;
  margin-right: 40px;
}
.project {
  background: url("../img/about-section.png");
  position: center bottom;
  background-size: cover;
  height: 600px;
  width: 100%;
  color: white;
}

.project .col-6 p {
  font-size: 20px;
  color: white;
}

.article {
  background: #f5f5f5;
}

.article .col-12 {
  padding-left: 0;
  padding-right: 0;
}

.article-search {
 left: 50%;
right:50%;
margin-top: 20px;
align-items: center;
   }

    .search_input{
      align-items: center;
    color: black;
    margin-bottom: auto;
      margin-top: auto;
      height: 45px;
      width:100%;
      background-color: white;
      border: 2px solid #ced4da;
      border-radius: 30px;
      padding: 10px;
    outline: 0;
    }

    .search_icon{
      text-decoration: none;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:black;
    margin-top: -30px;
    margin-right: 20px;
    }
    .search_icon .fas{
    z-index: 4;
    }
    .col-centered{
      float: none;
margin: 0 auto;
    }

.card-img-bottom {
  background-size: cover;
}

.card-img-left {
  float: left;
}

.card-deck {
  padding: 10px;
}

.card-deck .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  //width: 40%;
  border-top: 2px solid #f6bf74;
}

.card-deck .card:hover {
  box-shadow: 0 1px 16px 0 #f6bf74;
}

.container-card {
  padding: 2px 16px;
}

.card-title {
  font-size: 16px;
  padding-top: 10px;
}

.card-date {
  font-size: 12px;
  color: #b1b1b1;
}

.card-text {
  font-size: 14px;
}

.card-deck .card .card-footer {
  width: 77%;
  height: 40px;
  line-height: 25px;
  background-color: #f4f4f4;
  border: 1px solid #f4f4f4;
  margin-left: 45px;
  position: absolute;
  bottom: 10px;
}

.card-deck .card .card-body .card-text {
  margin-bottom: 60px;
}

.card-footer p {
  color: #939393;
}

.card_hash {
  width: 40px;
  height: 40px;
  line-height: 42px;
  padding-left: 8px;
  font-size: 25px;
  color: white;
  background-color: #f6bf74;
  position: absolute;
  bottom: 10px;
}

.contact {
  background: url("../img/articles-section-2.jpg");
  position: center bottom;
  background-size: cover;
  height: 600px;
  width: 100%;
  padding-top:70px;
  padding-bottom: 35px;
}
.contact form .form-control{
  background:#f6f8fa;
  height:60px;
  border:1px solid #eef2f6;
  box-shadow: none;
  width:100%;
}
.contact form .form-control textarea{
  background:#f6f8fa;
  height:60px;
  border:1px solid #eef2f6;
  box-shadow: none;
  width:100%;
}
.contact button{
height:60px;
  width:100%;
  margin-top: 10px;
}
#input-message {
  height: 200px;
}

/*---- XS ----*/
@media (max-width: 767px) {

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #fff;
}

.card-deck .card .card-block .card-text {
  margin-bottom: 60px;
}

.card-deck .card .card-block {
  padding: 1.25rem;
}
}
